<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicinformationapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OnclickUserActivity"
            android:label="Users Details"
            android:parentActivityName=".UserListAcitivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.basicinformationapp.UserListAcitivity" />
            </activity>
        <activity
            android:name=".UserListAcitivity"
            android:label="Users List"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.basicinformationapp.MainActivity" />
        </activity>
        <activity
            android:name=".CountryActivity"
            android:label="countryactivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.basicinformationapp.MainActivity" />
        </activity>
        <activity
            android:name=".DateActivity"
            android:label="dateactivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.basicinformationapp.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>